<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Hi,its me Rojit Dhakal ,Computer Science and Information Technology student with a passion  for  coding. I code for both React and Node JS.
            Mainy , I am familiar with
        
            <br>
             ● Html,Css,JavaScript,Bootstrap <br>
             ● React,Node,Express,MongoDB (MERN) <br>
             ● C,C++,Python <br>
                        and many more.. <br>
            </p>
        </div>
        <%- include('./partials/footer.ejs') %>
    
</body>
</html>